:root {
  --primary-color: rgb(255, 107, 196);
  --secondary-color: rgb(134, 143, 149);
  --button-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/**** HTML Elements ****/
body {
  font-family: "Aref Ruqaa Ink", serif;
  font-family: "Itim", cursive;
  text-align: center;
  background-image: url("/images/color-splash.jpg");
}

h3 {
  font-size: 30px;
  color: var(--primary-color);
}
h1 {
  font-size: 55px;
}
h2 {
  color: var(--secondary-color);
  font-size: 35px;
}
p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}
a {
  text-decoration: none;
}
footer {
  color: rgb(10, 10, 10);
  text-shadow: rgb(255, 255, 255) 2px 3px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

/**** Navigation Menu ****/
.navbar {
  width: 100%;
  border-bottom: 1.5px black solid;
  padding: 0;
}
.navbar .brand {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  margin-top: 15px;
  font-size: 25px;
  color: black;
}

a.navbarLinks:hover {
  text-decoration: underline;
}

a.navbarLinks {
  color: var(--secondary-color);
}
a.active {
  color: var(--primary-color) !important;
}

/**** index.html section ****/
body.container.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.child-container {
  padding: 20px;
}
.hero {
  border: solid 2px black;
  background-color: rgb(255, 236, 186);
}
.flagImage img {
  width: 30px;
  height: 20px;
}
h1.home {
  margin-top: 25px;
}
h3.home {
  margin-top: 35px;
}
div.home-paragraph {
  max-width: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
}
div a.hero-buttons {
  font-size: 25px;
  text-align: center;
  margin: 20px;
  padding: 16px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background: #e0e0e0;
  color: var(--primary-color);
  box-shadow: var(--button-shadow);
  text-decoration: none;
}
div.hero-button-group {
  display: flex;
  justify-content: center;
  margin: 45px;
}
img.full-snack {
  width: 170px;
  height: 200px;
  margin-bottom: 30px;
}
.homepage-button:hover {
  background: #d2d2d2;
  color: rgb(208, 69, 152);
  border: 2px solid rgb(208, 69, 152);
  transition: all 0.4s ease-out;
}
/**** projects.html section ****/

/**** about.html section ****/
body.container.about {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
  width: 100vw;
}
div.containerInnerAbout {
  /* margin-top: 15px; */
  text-align: center;
  border: solid 2px black;
  background-color: #ffecba;
}
h1.about {
  margin-top: 20px;
  margin-bottom: 75px;
}
div img.about {
  border-radius: 3%;
  width: 440px;
  height: 480px;
  box-shadow: 4px 5px 9px 2px #7c652f;
}
div.aboutParagraph {
  text-align: justify;
  margin-right: 40px;
}

/**** contact.html section ****/

/**** Responsive Design ****/
/**** Large ****/
@media (768px < width <=992px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  h1.home {
    margin-top: 15px;
  }
  h3.home {
    margin-top: 25px;
  }
  div.home-paragraph {
    max-width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  div a.hero-buttons {
    font-size: 25px;
  }
}
/**** Medium ****/
@media (576px < width <=768px) {
  h3 {
    font-size: 20px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
    padding: 5px;
  }
  h1.home {
    margin-top: 15px;
  }
  h3.home {
    margin-top: 25px;
  }
  p {
    font-size: 15px;
  }
  div.home-paragraph {
    max-width: 70%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  div a.hero-buttons {
    font-size: 20px;
    padding: 12px;
    margin: 10px;
  }
}

/**** Small ****/
@media (max-width: 576px) {
  p.brand {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    padding: 3px;
  }
  h1.home {
    margin-top: 15px;
  }
  h3.home {
    margin-top: 25px;
  }
  p {
    font-size: 15px;
  }
  div.home-paragraph {
    max-width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  div.hero-button-group {
    display: block;
    margin: 20px auto;
  }
  div a.hero-buttons {
    max-width: 55%;
    display: block;
    padding: 12px;
    margin: 15px auto;
    font-size: 18px;
  }
}
