:root {
  --primary-color: rgb(255, 107, 196);
  --secondary-color: rgb(134, 143, 149);
  --button-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/**** HTML Elements ****/
body {
  font-family: "Aref Ruqaa Ink", serif;
  font-family: "Itim", cursive;
  text-align: center;
  background-image: url("/images/color-splash.jpg");
}

h3 {
  font-size: 25px;
  color: var(--primary-color);
}
h1 {
  font-size: 50px;
}
h2 {
  color: var(--secondary-color);
  font-size: 35px;
}
p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
a {
  text-decoration: none;
}
footer {
  /* text-align: center; */
  color: rgb(10, 10, 10);
  /* text-shadow: rgb(199, 245, 34) 1px 3px; */
  text-shadow: rgb(255, 255, 255) 2px 3px;
  padding: 15px;
}

/**** Navigation Menu ****/
.navbar {
  width: 100%;
  border-bottom: 1.5px black solid;
  padding: 0;
}
p.brand {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  margin-top: 15px;
  font-size: 25px;
  color: black;
}

a.navbarLinks:hover {
  text-decoration: underline;
}

a.navbarLinks {
  color: var(--secondary-color);
}
a.active {
  color: var(--primary-color) !important;
}

/**** index.html section ****/
body.container.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.child-container {
  padding: 20px;
}
.hero {
  border: solid 2px black;
  background-color: rgb(255, 236, 186);
}
.flagImage img {
  width: 30px;
  height: 20px;
}
h1.home {
  margin-top: 25px;
}
h3.home {
  margin-top: 35px;
}
div.home-paragraph {
  max-width: 45%;
  margin-top: 25px;
  margin-bottom: 25px;
}
div .hero-buttons {
  padding: 12px;
  margin: 35px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  background: #e0e0e0;
  color: var(--primary-color);
  box-shadow: var(--button-shadow);
  text-decoration: none;
}
.hero-button-group {
  padding: 25px;
  margin-bottom: 10px;
}
img.full-snack {
  width: 170px;
  height: 200px;
  margin-bottom: 30px;
}
.homepage-button:hover {
  background: #d2d2d2;
  color: rgb(208, 69, 152);
  border: 2px solid rgb(208, 69, 152);
  transition: all 0.4s ease-out;
}
/**** projects.html section ****/

/**** about.html section ****/
div.containerInnerAbout {
  max-width: 950px;
  padding: 20px;
  margin-top: 150px;
  text-align: center;
  border: solid 2px black;
  background-color: #ffecba;
  padding: 20px;
}
div.aboutParagraph {
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

/**** contact.html section ****/

/**** Responsive Design ****/
/**** Medium ****/
@media (768px <= width <=992px) {
  h3 {
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  h1.home {
    margin-top: 15px;
  }
  h3.home {
    margin-top: 25px;
  }
  p {
    font-size: 15px;
  }
  div.home-paragraph {
    max-width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
/**** Small ****/
@media (width <= 768) {
}
